body {
    background-color: #F5F5DC;
}


h1 {
    font-family: 'Dancing Script';font-size: 50px;
    color: black;
    text-align: center;
}

p {
    font-family: 'Dancing Script';font-size: 30px;
    color: black;
    text-align: center;
}

a { 
    font-family: 'Dancing Script';font-size: 22px;
    color: black 
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 15px;
}    
  

#options {   
    width: 540px;
    margin-top:90px;
    margin-left: 20px; 
    margin-right:20px;

     text-align: justify;
    -ms-text-justify: distribute-all-lines;
    text-justify: distribute-all-lines;
}
#options a {
    vertical-align: top;
    display: inline-block;
    *display: inline;
    zoom: 1;
}
.stretch {
    width: 100%;
    display: inline-block;
    font-size: 0;
    line-height: 0
}

