body {
    background-color: #E9967A;
}


h1 {
    font-family: 'Dancing Script';font-size: 50px;
    color: black;
    text-align: center;
}

p {
    font-family: 'Dancing Script';font-size: 30px;
    color: black;
    text-align: center;
}

a { 
    font-family: 'Dancing Script';font-size: 22px;
    color: black 
}
 th {
    display: table-cell;
    vertical-align: inherit;
    font-weight: bold;
    font-family: 'Dancing Script';
    font-size: 26px;
    text-align: center;
    color:black;
     
}
td {
    display: table-cell;
    vertical-align: inherit;
    color:black;
    font-family: 'Dancing Script';
    font-size: 26px;
    text-align: center;
}


