body {
    background-color: #F5F5DC;
}


h1 {
    font-family: 'Dancing Script';font-size: 50px;
    color: black;
    text-align: center;
}

p {
    font-family: 'Dancing Script';font-size: 30px;
    color: black;
    text-align: center;
}

a { 
    font-family: 'Dancing Script';font-size: 22px;
    color: black 
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 15px;
}    
   
p.options {
   margin: auto;
   margin-top: 40px;
   margin-left: 50px;
   margin-right: 100px;
   padding: 10px;
   width: 200px;
}

p.menusomething a>img
{  margin-top:50px;
   margin-bottom: 50px;   
}
